<h4 class="header light red-text text-lighten-2">The Martian (2015)</h4>
<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="https://image.tmdb.org/t/p/w396/5aGhaIHYuQbqlHWvWYqMCnj40y2.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn white-text"><i class="material-icons left">query_builder</i>Pendiente</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a href="/favorite/create?content_id=1" class="waves-effect waves-light btn white-text"><i class="material-icons left">grade</i>Favorito</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= rating_for @content, "score", disable_after_rate: true %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= render_shareable %>
      </div>
    </div>
  </div>
  <div class="col s9">
    <p>
      El astronauta Mark Watney (Matt Damon), un botánico e ingeniero mecánico de la NASA, se ve atrapado en el planeta Marte cuando la tripulación del Ares 3 debe evacuar su lugar de aterrizaje ante una tormenta de arena. Sin su tripulación, se ve obligado a encontrar la forma de regresar a la Tierra y sobrevivir confiando en sus habilidades científicas y técnicas, antes de que se le agoten los suministros. Mientras que sus compañeros astronautas piensan que podría estar muerto, Watney comienza a escribir un diario divagando sobre el futuro, después de su muerte. Cuando la NASA descubre a través del satélite que Mark podría estar vivo, comienzan a trabajar sobre su rescate, ocultándoselo al resto del grupo.
    </p>
    <div class="video-container no-controls">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ej3ioOneTy8" frameborder="0" allowfullscreen></iframe>
    </div>

    <h5 class="header center light-blue-text">
    	Nuevo Comentario
    </h5>

    <%= form_tag("/comment/create", method: "post") do %>
    	<h5 class="header col s12 light">
    		<%= hidden_field_tag(:content_id, @content_id) %>
    		<p>Comentario</p>
    		<%= text_area_tag(:body) %>
    		<%= submit_tag("Crear comentario") %>
    	</h5>
    <% end %>
  </div>
</div>