<h4 class="header light red-text text-lighten-2"><%= @content.name %> <%= @content.year? ? "(#{@content.year})" : '' %></h4>
<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="<%= @content.poster %>">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <a href="/pending/create?content_id=1" class="waves-effect waves-light btn white-text"><i class="material-icons left">query_builder</i>Pendiente</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a href="/favorite/create?content_id=1" class="waves-effect waves-light btn white-text"><i class="material-icons left">grade</i>Favorito</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= rating_for @content, "score", disable_after_rate: true, star_off: asset_path('star-off.png'), star_on: asset_path('star-on.png'), star_half: asset_path('star-half.png'), cancel_on: asset_path('cancel-on.png'), cancel_off: asset_path('cancel-off.png'), star_path: '' %>
      </div>
    </div>
  </div>
  <div class="col s9">
    <div class="row">
      <%= raw @content.description.html_safe %>
    </div>

    <% if @content.trailer_id.present? %>
      <div class="video-container no-controls">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @content.trailer_id %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>

    <div class="row">
      <%= render_shareable %>
    </div>

    <h5 class="header center light-blue-text">
    	Nuevo Comentario
    </h5>

    <%= form_tag("/comment/create", method: "post") do %>
    	<h5 class="header col s12 light">
    		<%= hidden_field_tag(:content_id, @content_id) %>
    		<p>Comentario</p>
    		<%= text_area_tag(:body) %>
    		<%= submit_tag("Crear comentario") %>
    	</h5>
    <% end %>
  </div>
</div>