<!DOCTYPE html>
<html>
<head>
  <title>Entreténme Ya</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="red darken-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Entreténme ya</a>
      <% if user_signed_in? %>
        <li>
          <div class="row up righ">
            <a href="/profile"><%= current_user.email %></a>
          </div>
        </li>
        <li>
          <div class="row up righ">
            <a href="/contents/search">Search</a>
          </div>
        </li>
        <li>
          <div class="row up righ">
            <a href="/contents/recommendations">Recommendations</a>
          </div>
        </li>
        <li>
          <%= render 'devise/menu/login_items' %>
        </li>
      <% end %>
    </div>
  </nav>
  <div class="section no-pad-bot">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>